.DepartmentListHead
{      
  border-right: #01a647 2px solid;
  border-top: #01a647 2px solid;
  border-left: #01a647 2px solid;
  border-bottom: #01a647 2px solid;
  background-color: #30b86e;
  font-family: Verdana, Arial;
  font-weight: bold;
  font-size: 10pt;
  color: #f5f5dc;
  padding-left: 3px;
  text-align: center;
}      
.DepartmentListContent
{      
  border-right: #01a647 2px solid;
  border-top: #01a647 2px solid;
  border-left: #01a647 2px solid;
  border-bottom: #01a647 2px solid;
  background-color: #9fe1bb;
  text-align: center;
}      
a.DepartmentUnselected
{      
  font-family: Verdana, Arial;
  font-weight: bold;
  font-size: 9pt;
  color: #5f9ea0;
  line-height: 25px;                              
  padding-left: 5px;                              
  text-decoration: none;
}                
a.DepartmentUnselected:hover                      
{                
  padding-left: 5px;                              
  color: #2e8b57;
}                
a.DepartmentSelected                              
{                
  font-family: Verdana, Arial;                    
  font-weight: bold;                              
  font-size: 9pt;
  color: #556b2f;
  line-height: 25px; 
  padding-left: 5px;
  text-decoration: none;
}
